<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.friendr">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="android.friendr.view.FindNewInterest"/>
        <activity android:name="android.friendr.view.GroupMainPage" />
        <activity android:name="android.friendr.view.CreateGroup" />
        <activity android:name="android.friendr.view.FindNewGroup" />
        <activity android:name="android.friendr.view.Index"/>
        <activity android:name="android.friendr.view.RegisterActivity"/>
        <activity android:name="android.friendr.view.WelcomeActivity" />
        <activity android:name="android.friendr.view.CreateEvent" />
        <activity android:name="android.friendr.view.GroupChat" />
        <activity android:name="android.friendr.view.EventChat" />
        <activity android:name="android.friendr.view.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>